.flight{
    border: solid 2px rgb(39, 38, 38);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
}
#airplane{
    height: 60%;
    width: 9%;
}.flight:hover{
    background-color: rgb(0, 166, 255);
    cursor: pointer;
}.flight:active{
    background-color: rgb(0, 91, 141);
    border-color: rgb(0, 166, 255);
}

.hotel{
    border: solid 2px rgb(39, 38, 38);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}#bed{
    height: 60%;
    width: 9%;
}.hotel:hover{
    background-color: rgb(0, 166, 255);
    cursor: pointer;
}.hotel:active{
    background-color: rgb(0, 91, 141);
    border-color: rgb(0, 166, 255);
}

.rental{
    border: solid 2px rgb(39, 38, 38);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
}#car{
    height: 60%;
    width: 9%;
}.rental:hover{
    background-color: rgb(0, 166, 255);
    cursor: pointer;
}.rental:active{
    background-color: rgb(0, 91, 141);
    border-color: rgb(0, 166, 255);
}