.boxCenter{
    /*border: rgb(246, 4, 250) solid 2px;*/
    width: 60%;
    height: 30%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.menuTopBoxCenter{
    /*border: 2px solid brown;*/
    height: 100%;
    width: 100%;
    background-color: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.menuBoxCenter{
    /*border: solid 2px yellow;*/
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}